.l-modal {
	margin: 30vh auto;
	max-width: 300px;
	position: relative;
	&::before {
		position: absolute;
		content: url('../img/logo.png');
		top: -45px;
		right: calc(300px / 2 - 45px);
	}
}

.l-column {
	display: flex;
	flex-direction: column;
}
.l-centered {
	
}
