//////////////////// header
.modal-header {
	padding: 0.755em;
	background-color: $grey;
	box-shadow: 0 1px 0 $light-grey, inset 0 1px 0 $white;
	border-radius: 6px 6px 0 0 ;
	background-image: linear-gradient(to top, #e9e9ea 0%, $light-grey 100%);

}

.heading-btnExit {
	margin-right: auto;
	width: 18px;
	height: 18px;
	background: transparent url('../img/exit-btn.png') no-repeat;
}
.company,
.goodsItem {
	align-self: center;
}

.company {
	margin-top: 25px;
	margin-bottom: 10px;
}
////////////////// form

.checkoutForm {
	background-color: $light-grey;
	border-radius: 0 0 6px 6px;
	border-top: 1px solid $light-grey;
	padding: 2.5em;
	input {
		padding: 0.8125em 1.75em;
		overflow: hidden;
		font-family: $secondary-font-bold;
		border-radius: 4px;
		border: 1px solid $dark-grey;
		position: relative;
	}
	
}
.merge {
	display: flex;
	background-color: $light-grey;
	margin-bottom: 1.125em;
}
input.checkoutForm-email {
	margin-bottom: 1.125em;
	background: url('../img/mail-icon.png') no-repeat;
	
}
input.checkoutForm-card {
	background: url('../img/credit-card-icon.png') no-repeat;
	border-radius: 6px 6px 0 0;
}
input.checkoutForm-year {
	background: url('../img/calendar-icon.png') no-repeat;
	border-top: none;
	border-right: none;
	border-radius: 0 0 0 6px ;
	padding: 0.8125em 0 0.8125em 1.75em;
	flex-basis: 60%;
}
input.checkoutForm-cvc {
	background: url('../img/lock-icon.png') no-repeat;
	border-top: none;
	border-left: none;
	border-radius: 0 0 6px 0 ;
	padding: 0.8125em 1.75em 0.8125em 1.5em;
	flex-basis: 40%;

}
input.icon-position {
	background-position-y: 0.875em;
	background-position-x: 0.5em;
}

.agree {
	padding: 0.875em 0.875em 0.875em 1.75em;
	position: relative;
	border: 1px solid $dark-grey;
	border-radius: 4px;
	input {
		display: none;
	}
	margin-bottom: 30px;
	
}
label[for="remember"]::before {
	position: absolute;
	content: '';
	top: 12px;
	left: 8px;
	width: 14px;
	height: 14px;
	box-shadow: 0 1px 0 rgba($black, 0.1);
	border-radius: 3px;
	border: 1px solid #d2d2d2;
	background-color: $white;
	background-image: radial-gradient(circle 8px at 48% 27%, $white 0%, #eee 100%);
}
#remember:checked + label::after {
	position: absolute;
	content: '';
	top: 16px;
    left: 12px;
    width: 9px;
    height: 9px;
    border-radius: 5px;
	background-color: $dark-dark-grey;

}
input[type="submit"] {
	box-shadow: 0 1px 1px rgba($light-blue, 0.4), inset 0 -1px 0 $blue;
	border-radius: 4px;
	border: 1px solid $blue;
	background-color: $light-blue;
	background-image: linear-gradient(to top, $light-blue 0%, $dark-blue 100%);
}

