/*	COLORS */

$primary-color: #05745f;
$black: #000;
$white: #fff;
$grey: #f0f0f2;
$light-grey: #f5f5f6;
$dark-grey: #aaa;
$dark-dark-grey: #5b5b65;
$blue: #3f9bd5;
$light-blue: #3097de;
$dark-blue: #45b1e8;


/*  Typography */

$primary-font: 'Arimo', sans-serif; 
$secondary-font-bold: 'HelveticaNeueCyr-Bold', sans-serif;
$secondary-font-medium: 'HelveticaNeueCyr-Medium', sans-serif;